* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

input,
button {
  font: inherit;
  border: none;
  outline: none;
}