$vertShift: 120px;
$horizontalShift: 50px;

.modal {
  position: fixed;
  top: $vertShift;
  right: $horizontalShift;
  bottom: $vertShift;
  left: $horizontalShift;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 1fr;
  padding: 24px 32px;
  background-color: var(--bacground-color);
  box-shadow: 2px 2px 10px 2px var(--shadow-color);
}

.title {
  color: var(--header-color);
}

.modalContent {
  height: 100%;
  overflow: hidden;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  z-index: 1;
  cursor: pointer;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 2px;
    background-color: var(--black-color);
  }

  &:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}