.inputWrapper {
  position: relative;
}

.common {
  width: 100%;
  height: 100%;
  padding: 0 8px;
  cursor: text;
}

.errorMessage {
  position: absolute;
  bottom: 100%;
  margin-bottom: 4px;
  color: #bd0d0d;
  font-size: 12px;
}