.natureLayout {
  padding-top: 120px;
}

.natureBackground {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
}

.themeToggle {
  position: fixed;
  top: 32px;
  right: 32px
}