.messageWrapper {
  max-width: 80%;
  width: max-content;
  padding: 8px 16px;
  border: 1px solid #8d8d8d;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
}

.userName {
  margin-bottom: 8px;
  font-size: inherit;
}

.message {
  font-size: inherit;
}