.messageWrapper {
  position: relative;
  max-width: 80%;
  width: max-content;
  padding: 8px 16px;
  border: 1px solid var(--gray-color);
  background-color: var(--bacground-color);
  font-size: 14px;
}

.userName {
  margin-bottom: 8px;
  font-size: inherit;
  color: var(--header-color);
}

.message {
  font-size: inherit;
}

.confetti {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  canvas {
    width: auto;
    height: auto;
  }
}